<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParvatiammaShivappa login page</title>
</head>
<body>
    <form action = "/home.ejs">
        <label for = "PSlogin">username : </label>
        <input module = "get" type = "text" placeholder = "Enter your username" id = "PSlogin" name = "username">
        <button type = "submit">Submit</button>
    </form>
    <hr>
    <form action = "/home.ejs">
        <label for = "PSlogin">username : </label>
        <input module = "post" type = "text" placeholder = "Enter your username" id = "PSlogin" name = "username">
        <button type = "submit">Submit</button>
    </form>
</body>
</html>